.important {
	background-color:yellow;
}

.linkButton { 
                background: none;
                border: none;
                color: #0066ff;
                text-decoration: underline;
                 cursor: pointer; 
            }
            
body {
  padding-top: 50px;
}

.mijntitel {
  padding: 40px 15px;
  text-align: center;
}          